@model IEnumerable<ProfileMAnager.Models.ViewModels.RelatorioCategoriaPaisVM>

@{
    ViewData["Title"] = "Relatório por Categoria e País";
}

<h2>Relatório por Categoria e País</h2>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Categoria</th>
        <th>País</th>
        <th>Total de Talentos</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Categoria</td>
            <td>@item.Pais</td>
            <td>@item.Total</td>
        </tr>
    }
    </tbody>
</table>