@model ProfileMAnager.Models.Cliente

<h2>Eliminar Cliente</h2>

<p>Tem a certeza que deseja eliminar o cliente <strong>@Model.Nome</strong>?</p>

<form asp-action="Delete" asp-route-id="@Model.Idcliente" method="post">
    @Html.AntiForgeryToken()
    
    <input type="hidden" asp-for="Idcliente" />
    
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>