@{
    ViewData["Title"] = "Registo";
}

<h2>Registo</h2>

@if(ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<form method="post">
    <div>
        <label>Nome</label>
        <input type="text" name="nome" required />
    </div>

    <div>
        <label>Email</label>
        <input type="email" name="email" required />
    </div>

    <div>
        <label>Password</label>
        <input type="password" name="password" required />
    </div>

    <button type="submit">Registar</button>
</form>

<p>
    <a href="/Account/Login">Já tens conta? Login</a>
</p>